### 1. **Python Version**
   - Python 3.7 or higher

### 2. **Libraries**
   The following Python libraries are required for this project. You can install them using pip:

   - **TensorFlow** (for LSTM model)
   - **Keras** (high-level neural networks API for TensorFlow)
   - **pandas** (for data manipulation)
   - **numpy** (for numerical computing)
   - **matplotlib** (for plotting)
   - **seaborn** (for statistical data visualization)
   - **scikit-learn** (for machine learning models and metrics)
   - **fbprophet** (for Facebook Prophet model)
   - **IsolationForest** (for Isolation Forest model)
   - **statsmodels** (for statistical modeling)
   - **scipy** (for scientific and technical computing)
   - **yfinance** (for data retrieval, if needed)
