absl-py==2.1.0
astunparse==1.6.3
charset-normalizer==3.3.2
cligj==0.7.2
Cython==3.0.10
flatbuffers==24.3.25
gast==0.5.4
google-pasta==0.2.0
grpcio==1.64.1
h5py==3.11.0
idna==3.7
keras==3.3.3
keras-resnet==0.2.0
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mkl-service==2.4.0
ml-dtypes==0.3.2
namex==0.0.8
opencv-python==4.10.0.84
opt-einsum==3.3.0
optree==0.11.0
ply==3.11
progressbar2==4.4.2
protobuf==4.25.3
Pygments==2.18.0
PyQt5==5.15.10
pyscilab==1.0.7.dev1
python-utils==3.8.2
requests==2.32.3
rich==13.7.1
scilab2py==0.6.2
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
tensorrt==10.1.0
tensorrt-cu12==10.1.0
tensorrt-cu12-bindings==10.1.0
tensorrt-cu12-libs==10.1.0
termcolor==2.4.0
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
wrapt==1.16.0
