* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}          
body {
    min-height: 100vh;
    background: radial-gradient(white, black);
    display: flex;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
.container {
    margin: auto;
    width: 700px;
    max-width: 90%;
    padding: 20px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.container .image {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}
.container .image img {
    max-width: 50%;
    max-height: 50%; 
}
.container .information {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 80%;
    border-color: black;
    margin-bottom: 20px;
}
.container .information .h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.container .button {
    margin-left: 50%;
    transform: translate(-50%);
    width: 120px;
    height: 34px;
    outline: none;
    background: transparent;
    border-color: black;
    border-width: 2px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    border-radius: 5px;
    transition: .3s;
}
.container .button:hover {
    opacity: 0.3;
}
