<style>

    .custom-file-button input[type=file] {
        margin-left: -2px !important;
      }
      
      .custom-file-button input[type=file]::-webkit-file-upload-button {
        display: none;
      }
      
      .custom-file-button input[type=file]::file-selector-button {
        display: none;
      }
      
      .custom-file-button:hover label {
        background-color: #dde0e3;
        cursor: pointer;
      }
</style>

{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}

<main role="main" class='container'>

        <section class="jumbotron text-center bg-white">
            <div class="container">
              <h1 class="jumbotron-heading">Age and Gender Prediction</h1>
              <p class="lead text-muted">
                Upload human face image and get predicted Age and Gender by DL Simplified
              </p>
            </div>
          
          <div class="container col-md-6">
            <form action='/' method='POST' enctype="multipart/form-data">
                <div class="mb-3 my-4 input-group custom-file-button">
                    <label for="formFile" class="form-label input-group-text">Upload Image File</label>
                    <input class="form-control" type="file" id="formFile" accept="image/*" name="face_image" required>
                </div>
                <button type="submit" class="btn btn-warning col-md-12">Upload Image and Predict</button>
            </form>
        </div>
    </section>
</main>




{% endblock body %}