streamlit
sentence-transformers
PyMuPDF
rapidfuzz
fpdf
python-dateutil
spacy
# en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
# pandas
# spacy==3.5.0
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl

# python -m spacy download en_core_web_sm
# # # # import nltk
# # # # nltk.download('punkt')
# # # # nltk.download('stopwords')