# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Virtual Environment
venv/
env/
ENV/
.venv/
.env/
*.env

# Logs
*.log

# Miscellaneous
.DS_Store
Thumbs.db
*.bak
*.tmp
*.swp

# PyCharm
.idea/
*.iml

# VS Code
.vscode/
