absl-py==1.4.0
alabaster
anaconda-client==1.11.2
anaconda-navigator==2.4.0
anaconda-project
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings 
arrow
astroid
astropy
asttokens
astunparse==1.6.3
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
bokeh
boltons
Bottleneck
brotlipy==0.7.0
cachetools==5.3.1
certifi==2023.5.7
cffi
chardet
charset-normalizer
click 
cloudpickle
clyent==1.2.2
colorama
colorcet 
comm 
conda==23.3.1
conda-build==3.24.0
conda-content-trust
conda-pack 
conda-package-handling 
conda-repo-cli==1.0.41
conda-token
conda-verify==3.4.2
conda_package_streaming 
constantly==15.1.0
contourpy
cookiecutter 
cryptography
cssselect==1.1.0
cycler 
cytoolz
daal4py==2023.0.2
dask
datashader
datashape==0.5.4
debugpy 
decorator 
defusedxml
diff-match-patch 
dill 
distributed
docstring-to-markdown 
docutils 
entrypoints 
et-xmlfile==1.1.0
executing 
fastjsonschema 
filelock 
flake8
Flask
flatbuffers==23.5.26
flit_core 
fonttools==4.25.0
fsspec 
future 
gast==0.4.0
gensim 
glob2
google-auth==2.21.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet 
grpcio==1.56.0
h5py 
HeapDict 
holoviews
huggingface-hub 
hvplot 
hyperlink 
idna
imagecodecs 
imageio
imagesize 
imbalanced-learn 
importlib-metadata 
incremental 
inflection==0.5.1
iniconfig 
intake 
intervaltree 
ipykernel
ipython 
ipython-genutils
ipywidgets 
isort 
itemadapter 
itemloaders 
itsdangerous
jedi 
jellyfish 
Jinja2 
jinja2-time 
jmespath 
joblib 
json5 
jsonpatch 
jsonpointer==2.1
jsonschema 
jupyter 
jupyter-console 
jupyter-server 
jupyter_client
jupyter_core
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
keras==2.10.0
Keras-Preprocessing==1.1.2
keyring 
kiwisolver 
lazy-object-proxy
libarchive-c
libclang==16.0.0
llvmlite==0.39.1
locket
lxml 
lz4 
Markdown
MarkupSafe
matplotlib 
matplotlib-inline
mccabe 
menuinst 
mistune 
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mock 
mpmath==1.2.1
msgpack 
multipledispatch 
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.3.0
nbclassic
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
notebook 
notebook_shim 
numba 
numexpr
numpy
numpydoc 
oauthlib==3.2.2
opencv-python==4.8.0.74
openpyxl==3.0.10
opt-einsum==3.3.0
packaging 
pandas 
pandocfilters 
panel 
param 
paramiko 
parsel 
parso 
partd 
pathlib 
pathspec
patsy==0.5.3
pep8==1.7.1
pexpect 
pickleshare 
Pillow==9.4.0
pkginfo
platformdirs
plotly
pluggy
ply==3.11
pooch 
poyo 
prometheus-client 
prompt-toolkit 
Protego 
protobuf==4.23.4
psutil 
ptyprocess 
pure-eval 
py 
pyasn1 
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser 
pyct 
pycurl==7.45.1
PyDispatcher==2.0.5
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyHamcrest 
PyJWT 
pylint 
pylint-venv 
pyls-spyder==0.4.0
PyNaCl
pyodbc 
pyOpenSSL
pyparsing 
PyQt5==5.15.7
PyQt5-sip 
PyQtWebEngine==5.15.4
pyrsistent 
PySocks
pytest==7.1.2
python-dateutil 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server 
python-slugify 
python-snappy 
pytoolconfig 
pytz 
pyviz-comms
PyWavelets 
pywin32==305.1
pywin32-ctypes 
pywinpty
PyYAML
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib==1.5.0
regex
requests 
requests-file 
requests-oauthlib==1.3.1
requests-toolbelt 
rope 
rsa==4.9
Rtree
ruamel-yaml-conda 
ruamel.yaml 
ruamel.yaml.clib 
scikit-image 
scikit-learn 
scikit-learn-intelex==20230228.214818
scipy==1.10.0
Scrapy 
seaborn 
Send2Trash 
service-identity 
sip 
six 
smart-open
sniffio 
snowballstemmer 
sortedcontainers 
soupsieve
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
SQLAlchemy 
stack-data 
statsmodels 
sympy 
tables==3.7.0
tabulate
TBB==0.2
tblib 
tenacity 
tensorboard==2.10.1
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado 
text-unidecode 
textblob==0.17.1
textdistance
threadpoolctl 
three-merge 
tifffile 
tinycss2 
tldextract 
tokenizers 
toml 
tomli
tomlkit 
toolz 
torch==1.12.1
tornado 
tqdm 
traitlets 
transformers 
Twisted 
twisted-iocpsupport 
typing_extensions
ujson
Unidecode
urllib3 
w3lib 
watchdog 
wcwidth
webencodings==0.5.1
websocket-client 
Werkzeug 
whatthepatch 
widgetsnbextension 
win-inet-pton
wincertstore==0.2
wordcloud==1.9.2
wrapt
xarray 
xlwings
yapf 
zict==2.1.0
zipp
zope.interface 
zstandard==0.19.0
