@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  background-color: #212025; /* Pitch-black background */
  margin: 0;
  padding: 0;
  color: #fff; /* Text color to be white */
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #222; /* Darker background for the container */
  border: 1px solid #444; /* Darker border color */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Slightly darker shadow */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #00ffcc; /* Neon green color for the header */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  width: 240px;
  display: inline-block;
}

select,
input[type="text"],
input[type="number"] {
  padding: 8px;
  border: 1px solid #666; /* Darker border color */
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #333; /* Darker background for the inputs */
  color: #fff; /* Text color to be white */
}

input[type="text"],
input[type="number"] {
  width: 330px;
}

input[type="submit"] {
  padding: 8px;
  border: 1px solid #666; /* Darker border color */
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #00cc99; /* Slightly toned down neon green color for the submit button */
  color: #000; /* Text color to be black */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #00b386; /* Slightly darker neon green on hover */
}

/* Hide the user_id_input and anime_id_input divs by default */
#user_id_input,
#anime_id_input {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #00cc99;
  border-radius: 12px;
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #005472;
  /* Set the color of the scroll bar thumb on hover */
}
