absl-py==1.4.0
accelerate==0.29.3
access==1.1.9
affine==2.4.0
aiobotocore==2.12.3
aiofiles==22.1.0
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1701099469104/work
aiohttp-cors==0.7.0
aioitertools==0.11.0
aiorwlock==1.3.0
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
aiosqlite==0.19.0
albumentations==1.4.0
alembic==1.13.1
altair==5.3.0
annotated-types==0.6.0
annoy==1.17.3
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1702909220329/work
apache-beam==2.46.0
aplus==0.11.0
appdirs==1.4.4
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1692818318753/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1695386546427/work
array-record==0.5.0
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1696128962909/work
arviz==0.18.0
astroid==3.1.0
astropy==6.0.1
astropy-iers-data==0.2024.4.15.2.45.49
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
astunparse==1.6.3
async-lru==2.0.4
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
audioread==3.0.1
autopep8==2.0.4
Babel==2.14.0
backoff==2.2.1
bayesian-optimization==1.4.3
beatrix_jupyterlab @ file:///home/kbuilder/miniconda3/conda-bld/dlenv-tf-2-15-cpu_1704939196367/work/packages/beatrix_jupyterlab-2023.128.151533.tar.gz#sha256=8c6941d08ce18f5b9ea7719574d611c18163074ff8254e0734342014eb064a48
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
blake3==0.2.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1696630167146/work
blessed==1.20.0
blinker==1.7.0
blis==0.7.11
blosc2==2.6.2
bokeh==3.4.1
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1703154663129/work
Boruta==0.3
boto3==1.26.100
botocore==1.34.69
bq_helper==0.4.1
bqplot==0.12.43
branca==0.7.1
brewer2mpl==1.4.1
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
brotlipy==0.7.0
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==4.2.4
Cartopy @ file:///home/conda/feedstock_root/build_artifacts/cartopy_1712830658701/work
catalogue==2.0.10
catalyst @ git+https://github.com/Philmod/catalyst.git@9420384a98c4b9d3b17b959e66f845b98457b545
catboost==1.2.3
category-encoders==2.6.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cesium==0.12.1
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001684923/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
chex==0.1.86
cleverhans==4.0.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloud-tpu-client==0.10
cloud-tpu-profiler==2.4.0
cloudpathlib==0.16.0
cloudpickle==2.2.1
cmdstanpy==1.2.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorcet==3.1.0
colorful==0.5.6
colorlog==6.8.2
colorlover==0.3.0
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1704278392174/work
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1711445853354/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1702406360642/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
confection==0.1.4
contextily==1.6.0
contourpy==1.2.0
convertdate==2.4.0
crcmod==1.7
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1701563205069/work
cufflinks==0.17.3
CVXcanon==0.1.2
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
cymem==2.0.8
Cython==3.0.8
cytoolz==0.12.3
daal==2024.3.0
daal4py==2024.3.0
dacite==1.8.1
dask==2024.4.1
dask-expr==1.0.11
dataclasses-json==0.6.4
dataproc_jupyter_plugin==0.1.66
datasets==2.18.0
datashader==0.16.0
datatile==1.0.3
db-dtypes==1.2.0
deap==1.4.1
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1695534290310/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deepdiff==7.0.1
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.14
deprecation==2.1.0
descartes==1.1.0
dill==0.3.8
dipy==1.9.0
distlib==0.3.8
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
dm-tree==0.1.8
docker==7.0.0
docker-pycreds==0.4.0
docopt==0.6.2
docstring-parser==0.15
docstring-to-markdown==0.15
docutils==0.21.1
earthengine-api==0.1.399
easydict==1.13
easyocr==1.7.1
ecos==2.0.13
eli5==0.13.0
emoji==2.11.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
ephem==4.1.5
esda==2.5.1
essentia==2.1b6.dev1110
et-xmlfile==1.1.0
etils==1.6.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
explainable-ai-sdk==1.3.3
Farama-Notifications==0.0.4
fastai==2.7.14
fastapi==0.108.0
fastavro==1.9.3
fastcore==1.5.29
fastdownload==0.0.7
fasteners==0.19
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1703780968325/work/dist
fastprogress==1.0.3
fasttext==0.9.2
feather-format==0.4.1
featuretools==1.30.0
filelock==3.13.1
fiona==1.9.6
fitter==1.7.0
flake8==7.0.0
flashtext==2.7
Flask==3.0.3
flatbuffers==23.5.26
flax==0.8.2
folium==0.16.0
fonttools==4.47.0
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1638810296540/work/dist
frozendict==2.4.2
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1702645481127/work
fsspec==2024.2.0
funcy==2.0
fury==0.10.0
future==1.0.0
fuzzywuzzy==0.18.0
gast==0.5.4
gatspy==0.3
gcsfs==2024.2.0
gensim==4.3.2
geographiclib==2.0
Geohash==1.0
geojson==3.1.0
geopandas==0.14.3
geoplot==0.5.1
geopy==2.4.1
geoviews==1.12.0
ggplot @ https://github.com/hbasria/ggpy/archive/0.11.5.zip#sha256=7df947ba3fd86d3757686afec264785ad8df38dc50ffb2d2d31064fb355f69b1
giddy==2.3.5
gitdb==4.0.11
GitPython==3.1.41
google-ai-generativelanguage==0.6.2
google-api-core==2.11.1
google-api-python-client==2.126.0
google-apitools==0.5.31
google-auth==2.26.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-aiplatform==0.6.0a1
google-cloud-artifact-registry==1.10.0
google-cloud-automl==1.0.1
google-cloud-bigquery==2.34.4
google-cloud-bigtable==1.7.3
google-cloud-core==2.4.1
google-cloud-datastore==1.15.5
google-cloud-dlp==3.14.0
google-cloud-jupyter-config==0.0.5
google-cloud-language==2.13.3
google-cloud-monitoring==2.18.0
google-cloud-pubsub==2.19.0
google-cloud-pubsublite==1.9.0
google-cloud-recommendations-ai==0.7.1
google-cloud-resource-manager==1.11.0
google-cloud-spanner==3.40.1
google-cloud-storage==1.44.0
google-cloud-translate==3.12.1
google-cloud-videointelligence==2.13.3
google-cloud-vision==2.8.0
google-crc32c==1.5.0
google-generativeai==0.5.1
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
gplearn==0.4.2
gpustat==1.0.0
gpxpy==1.6.2
graphviz==0.20.3
greenlet==3.0.3
grpc-google-iam-v1==0.12.7
grpcio==1.60.0
grpcio-status @ file:///home/conda/feedstock_root/build_artifacts/grpcio-status_1662108958711/work
gviz-api==1.10.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.0
h11==0.14.0
h2o==3.46.0.1
h5netcdf==1.3.0
h5py==3.10.0
haversine==2.8.1
hdfs==2.7.3
hep-ml==0.7.2
hijri-converter==2.3.1
hmmlearn==0.3.2
holidays==0.24
holoviews==1.18.3
hpsklearn==0.1.0
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.5
httplib2==0.21.0
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.22.2
hunspell==0.5.5
hydra-slayer==0.5.0
hyperopt==0.2.7
hypertools==0.8.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
igraph==0.11.4
imagecodecs==2024.1.1
ImageHash==4.3.1
imageio==2.33.1
imbalanced-learn==0.12.2
imgaug==0.4.0
importlib-metadata==6.11.0
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1699364556997/work
inequality==1.0.1
iniconfig==2.0.0
ipydatawidgets==4.3.5
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1703631723894/work
ipyleaflet==0.18.2
ipympl==0.7.0
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1704718870316/work
ipython-genutils==0.2.0
ipython-sql==0.5.0
ipyvolume==0.6.3
ipyvue==1.11.0
ipyvuetify==1.9.4
ipywebrtc==0.6.0
ipywidgets==7.7.1
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1638811571363/work/dist
isort==5.13.2
isoweek==1.3.3
itsdangerous==2.2.0
Janome==0.5.0
jaraco.classes==3.3.0
jax==0.4.26
jax-jumpy==1.0.0
jaxlib==0.4.26
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
jeepney==0.8.0
jieba==0.42.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath==1.0.1
joblib==1.4.0
json5==0.9.14
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1695397238043/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1700159890288/work
jsonschema-specifications @ file:///tmp/tmpkv1z7p57/src
jupyter-console==6.6.3
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1699285872613/work
jupyter-http-over-ws==0.0.8
jupyter-lsp==1.5.1
jupyter-server-mathjax==0.2.6
jupyter-ydoc==0.2.5
jupyter_client==7.4.9
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1704727030956/work
jupyter_server==2.12.5
jupyter_server_fileid==0.9.1
jupyter_server_proxy==4.1.0
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1703611053195/work
jupyter_server_ydoc==0.8.0
jupyterlab==4.1.6
jupyterlab-lsp==5.1.0
jupyterlab-widgets==3.0.9
jupyterlab_git==0.44.0
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1700744013163/work
jupyterlab_server==2.25.2
jupytext==1.16.0
kaggle==1.6.12
kaggle-environments==1.14.3
kagglehub==0.2.3
keras==3.2.1
keras-cv==0.8.2
keras-nlp==0.9.3
keras-tuner==1.4.6
kernels-mixer==0.0.7
keyring==24.3.0
keyrings.google-artifactregistry-auth==1.1.2
kfp==2.5.0
kfp-pipeline-spec==0.2.2
kfp-server-api==2.0.5
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379902431/work
kmapper==2.0.1
kmodes==0.12.2
korean-lunar-calendar==0.3.1
kornia==0.7.2
kornia_rs==0.1.3
kt-legacy==1.0.5
kubernetes==26.1.0
langcodes==3.3.0
langid==1.1.6
lazy_loader==0.3
learntools @ git+https://github.com/Kaggle/learntools@ca2a51ee0085e4943cadaf5e9fe7dce2ec947d3c
leven==1.0.4
libclang==16.0.6
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1711394305528/work/libmambapy
libpysal==4.9.2
librosa==0.10.1
lightgbm==4.2.0
lightning-utilities==0.11.2
lime==0.2.0.1
line-profiler==4.1.2
linkify-it-py==2.0.3
llvmlite==0.41.1
lml==0.1.0
locket==1.0.0
loguru==0.7.2
LunarCalendar==0.0.9
lxml==5.2.1
lz4==4.3.3
Mako==1.3.3
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1711394305528/work/mamba
mapclassify==2.6.1
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1695367434228/work
marshmallow==3.21.1
matplotlib==3.7.5
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
matplotlib-venn==0.11.10
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
memory-profiler==0.61.0
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1702317041727/work
mercantile==1.2.1
mgwr==2.2.1
missingno==0.5.2
mistune==0.8.4
mizani==0.11.1
ml-dtypes==0.2.0
mlcrate==0.2.0
mlens==0.2.3
mlxtend==0.23.1
mne==1.6.1
mnist==0.2.2
momepy==0.7.0
more-itertools==10.2.0
mpld3==0.5.10
mpmath==1.3.0
msgpack==1.0.7
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1696716075096/work
multimethod==1.10
multipledispatch==1.0.0
multiprocess==0.70.16
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.8
nb-conda-kernels @ file:///home/conda/feedstock_root/build_artifacts/nb_conda_kernels_1699980974206/work
nb_conda @ file:///home/conda/feedstock_root/build_artifacts/nb_conda_1704789357480/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1683202081046/work
nbclient==0.5.13
nbconvert==6.4.5
nbdime==3.2.0
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1690814868471/work
ndindex==1.8
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1697083700168/work
networkx==3.2.1
nibabel==5.2.1
nilearn==0.10.4
ninja==1.11.1.1
nltk==3.2.4
nose==1.3.7
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1680870634737/work
notebook_executor @ file:///home/kbuilder/miniconda3/conda-bld/dlenv-tf-2-15-cpu_1704939196367/work/packages/notebook_executor
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1682360583588/work
numba==0.58.1
numexpr==2.10.0
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225380409/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=51131fd8fc130cd168aecaf1bc0ea85f92e8ffebf211772ceb16ac2e7f10d7ca
nvidia-ml-py==11.495.46
oauth2client==4.1.3
oauthlib==3.2.2
objsize==0.6.1
odfpy==1.4.1
olefile==0.47
onnx==1.16.0
opencensus==0.11.4
opencensus-context==0.1.3
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
openslide-python==1.3.1
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opt-einsum==3.3.0
optax==0.2.2
optree==0.11.0
optuna==3.6.1
orbax-checkpoint==0.5.9
ordered-set==4.1.0
orjson==3.9.10
ortools==9.4.1874
osmnx==1.9.2
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1691338815398/work
packaging==21.3
pandas==2.2.2
pandas-datareader==0.10.0
pandas-profiling==3.6.6
pandas-summary==0.2.0
pandasql==0.7.3
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
panel==1.4.1
papermill==2.5.0
param==2.1.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd==1.4.1
path==16.14.0
path.py==12.5.0
pathos==0.3.2
patsy==0.5.6
pdf2image==1.17.0
pettingzoo==1.24.0
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
phik==0.12.4
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.5.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
platformdirs==4.2.0
plotly==5.18.0
plotly-express==0.4.1
plotnine==0.13.4
pluggy==1.4.0
pointpats==2.4.0
polars==0.20.21
polyglot==16.7.4
pooch==1.8.1
pox==0.3.4
ppca==0.0.4
ppft==1.7.6.8
preprocessing==0.1.13
preshed==3.0.9
prettytable==3.9.0
progressbar2==4.4.2
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1700579315247/work
promise==2.3
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
prophet==1.1.1
proto-plus==1.23.0
protobuf==3.20.3
psutil==5.9.3
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pudb==2024.1
PuLP==2.8.0
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-cpuinfo==9.0.0
py-spy==0.3.14
py4j==0.10.9.7
pyaml==23.12.0
PyArabic==0.6.15
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1701287008248/work
pyasn1-modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1695107857548/work
pybind11==2.12.0
pyclipper==1.3.0.post5
pycodestyle==2.11.1
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1696355758174/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.20.0
pyct==0.5.0
pydantic==2.5.3
pydantic_core==2.14.6
pydegensac==0.1.2
pydicom==2.4.4
pydocstyle==6.3.0
pydot==1.4.2
pydub==0.25.1
pyemd==1.0.0
pyerfa==2.0.1.4
pyexcel-io==0.6.6
pyexcel-ods==0.6.0
pyflakes==3.2.0
pygltflib==1.16.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
PyJWT==2.8.0
pykalman==0.9.7
pyLDAvis==3.4.1
pylint==3.1.0
pymc3==3.11.4
PyMeeus==0.5.12
pymongo==3.13.0
Pympler==1.0.1
pynndescent==0.5.12
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1698795453264/work
pyparsing==3.1.1
pypdf==4.2.0
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1702028071709/work
pysal==24.1
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1659002966020/work
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pytesseract==0.3.10
pytest==8.1.1
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
python-louvain==0.16
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.11.0
python-slugify==8.0.4
python-utils==3.8.2
pythreejs==2.4.2
pytoolconfig==1.3.1
pytorch-ignite==0.5.0.post2
pytorch-lightning==2.2.2
pytz==2023.3.post1
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyUpSet==0.1.1.post7
pyviz_comms==3.0.2
PyWavelets==1.5.0
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373428874/work
pyzmq==24.0.1
qgrid==1.3.1
qtconsole==5.5.1
QtPy==2.4.1
quantecon==0.7.2
qudida==0.0.4
rasterio==1.3.10
rasterstats==0.19.0
ray==2.9.0
ray-cpp==2.9.0
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1704489226496/work
regex==2023.12.25
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
retrying==1.3.3
rfc3339-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1638811747357/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rgf-python==3.12.0
rich==13.7.0
rich-click==1.7.4
rope==1.13.0
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/rpds-py_1703822618592/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
Rtree==1.2.0
ruamel-yaml-conda @ file:///home/builder/ci_310/ruamel_yaml_1640794439226/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1699007337104/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1695996839082/work
s2sphere==0.2.5
s3fs==2024.2.0
s3transfer==0.6.2
safetensors==0.4.3
scattertext==0.1.19
scikit-image==0.22.0
scikit-learn==1.2.2
scikit-learn-intelex==2024.3.0
scikit-multilearn==0.2.0
scikit-optimize==0.10.1
scikit-plot==0.3.7
scikit-surprise==1.1.3
scipy==1.11.4
seaborn==0.12.2
SecretStorage==3.3.3
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588
segregation==2.5
semver==3.0.2
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1682601222253/work
sentencepiece==0.2.0
sentry-sdk==1.45.0
setproctitle==1.3.3
setuptools-git==1.2
setuptools-scm==8.0.4
shap==0.44.1
Shapely==1.8.5.post1
Shimmy==1.3.0
simpervisor==1.0.0
SimpleITK==2.3.1
simplejson==3.19.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn-pandas==2.2.0
slicer==0.0.7
smart-open==6.4.0
smmap==5.0.1
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
snowballstemmer==2.2.0
snuggs==1.4.7
soundfile==0.12.1
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
soxr==0.3.7
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spaghetti==1.7.5.post1
spectral==0.23.1
spglm==1.1.0
sphinx-rtd-theme==0.2.4
spint==1.0.7
splot==1.1.5.post1
spopt==0.6.0
spreg==1.4.2
spvcm==0.3.0
SQLAlchemy==2.0.25
sqlparse==0.4.4
squarify==0.4.3
srsly==2.4.8
stable-baselines3==2.1.0
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
stanio==0.5.0
starlette==0.32.0.post1
statsmodels==0.14.1
stemming==1.0.1
stop-words==2018.7.23
stopit==1.1.2
stumpy==1.12.0
sympy==1.12
tables==3.9.2
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tbb==2021.12.0
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboard-plugin-profile==2.15.0
tensorboardX==2.6.2.2
tensorflow==2.15.0
tensorflow-cloud==0.1.16
tensorflow-datasets==4.9.4
tensorflow-decision-forests==1.8.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io==0.35.0
tensorflow-io-gcs-filesystem==0.35.0
tensorflow-metadata==0.14.0
tensorflow-probability==0.23.0
tensorflow-serving-api==2.14.1
tensorflow-text==2.15.0
tensorflow-transform==0.14.0
tensorstore==0.1.56
termcolor==2.4.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1699810101464/work
testpath==0.6.0
text-unidecode==1.3
textblob==0.18.0.post0
texttable==1.7.0
tf_keras==2.15.1
tfp-nightly @ git+https://github.com/tensorflow/probability.git@fbc5ebe9b1d343113fb917010096cfd88b32eecf
Theano==1.0.5
Theano-PyMC==1.1.2
thinc==8.2.3
threadpoolctl==3.2.0
tifffile==2023.12.9
timm==0.9.16
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1666100256010/work
tobler==0.11.2
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.4
toolz==0.12.1
torch==2.1.2+cpu
torchaudio==2.1.2+cpu
torchdata==0.7.1
torchinfo==1.8.0
torchmetrics==1.3.2
torchtext==0.16.2+cpu
torchvision==0.16.2+cpu
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1695373560918/work
TPOT==0.12.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
traceml==1.0.8
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
traittypes==0.2.1
transformers==4.39.3
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
trx-python==0.2.9
tsfresh==0.20.2
typeguard==4.1.5
typer==0.9.0
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1704512562698/work
typing-inspect==0.9.0
typing-utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1622899189314/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1702176139754/work
tzdata==2023.4
uc-micro-py==1.0.3
ujson==5.9.0
umap-learn==0.5.6
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1695847980273/work
update-checker==0.18.0
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1688655812972/work/dist
uritemplate==3.0.1
urllib3==1.26.18
urwid==2.6.10
urwid_readline==0.14
uvicorn==0.25.0
uvloop==0.19.0
vaex==4.17.0
vaex-astro==0.9.3
vaex-core==4.17.1
vaex-hdf5==0.14.1
vaex-jupyter==0.8.2
vaex-ml==0.18.3
vaex-server==0.9.0
vaex-viz==0.5.4
vec_noise==1.1.4
vecstack==0.4.0
virtualenv==20.21.0
visions==0.7.5
vowpalwabbit==9.9.0
vtk==9.3.0
Wand==0.6.13
wandb==0.16.6
wasabi==1.1.2
watchfiles==0.21.0
wavio==0.0.8
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
weasel==0.3.4
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1679900785843/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1694681268211/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1701630677416/work
websockets==12.0
Werkzeug==3.0.2
wfdb==4.1.2
whatthepatch==1.0.5
widgetsnbextension==3.6.6
witwidget==1.8.1
woodwork==0.30.0
wordcloud==1.9.3
wordsegment==1.3.1
wrapt==1.14.1
xarray==2024.3.0
xarray-einstats==0.7.0
xgboost==2.0.3
xvfbwrapper==0.2.9
xxhash==3.4.1
xyzservices==2024.4.0
y-py==0.6.2
yapf==0.40.2
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1701168553642/work
ydata-profiling==4.6.4
yellowbrick==1.5
ypy-websocket==0.8.4
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zstandard==0.22.0
